/* DEFINE GLOBAL CSS*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #000000;
    line-height: 1.5;
    margin: 0;
}

/* DEFINE DEFAULT GLOBAL FONT SIZES*/
h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 400;
}
.p-text{
    font-size: 16px;
    font-weight: 400;
}

a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

/* GLOBAL HELPER STYLES*/

.center {
    text-align: center;
}

.margin-bottom-five {
    margin-bottom: 5px;
}

.link {
    text-decoration: underline;
    color: #000000;
}
.footer-link {
    text-decoration: underline;
    color: #f5c46d;
}

.link:hover {
    text-decoration: none;
}

.margin-top-zero {
    margin-top: 0;
}
.margin-bottom-zero {
    margin-bottom: 0;
}
.margin-left-ten {
    margin-left: 50px;
}
.margin-left-twenty {
    margin-left: 20px;
}

/* NEED TO ADD */
.hero-container_sub-copy {
    font-weight: 400;
}

/*DEFINE NAVIGATION STYLE*/
.flex{
    display:flex;
    justify-content: center;
}
.flex1{
    display:flex;
    justify-content: space-between;
    align-content: left;
}
nav {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: sticky;
}
.logo{
    width: 10%;
}

.nav-link_container {
    display:flex;
    justify-content: right;
    margin-left: 20px;
    width: 90%;
}
.nav-link {
    min-width: 10%;
}

/* DEFINE HERO STYLES*/

.hero-container {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
 margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
}
.hero-container-aboutme {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
 margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.hero-container_img {
  /*width: 40%;
  height:40px;*/
  border: none;
  margin-left: 100px;
  background-color: #ffffff;
  background-size: cover;
  border-radius: 10%;
}
  .hero-container_img img {
    max-width: 100%;
   border-radius: 50%;
   margin-bottom: -7px;
   border-radius: 50%;
}

.hero-container_imgaboutme {
    margin-left: 5%;
    margin-top: 5%;
}
.hero-container_imgaboutme img {
    max-width: 80%;
   border-radius: 50%;
}
.hero-container_copyaboutme {
    width: 50%; 
    margin-right: 5%;
    margin-top: 5%;

}
.hero-container_copy {
    width: 60%; 
    padding: 5%;
}
/* hero landing */
.hero-cs-container {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
 margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
}


.hero-cs-container_img {
  width: 100%;

  border: none;
  background-size: cover;
}

.hero-cs-container_img img {
    max-width: 100%;
}

.hero-cs-container_copy {
text-align: center;
}
/*dot transition*/

.dot-trail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .dot {
    width: 3px;
    height: 3px;
    margin:0px 0px 20px 0px;
    background: #0B2C5A;
    border-radius: 50%;
    opacity: 40%;
  }
  


/* DEFINE BUTTON STYLE */
.button-primary {
    border: none;
    background-color: #0B2C5A;
    color: #f2f2f2;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

/* DEFINE CARD STYLES */
.card-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto auto 60px auto;
max-width: 85%;
    /* max width helps the card sit closer and cleaner togehter */

}

.card {
height: auto;
margin: 20px;
width: 95%;
  background-color: white;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.card a:hover {
    text-decoration: none;
}

.card-copy {
    padding: 0 20px 20px 20px;
}
.card-copy-casestudies {
    padding: 0 0px 0px 0px;
}

/* FOOTER STYLE */
footer {
    background-color: #0B2C5A;
    padding: 40px;
}

.footerbg {
    background-color: #0B2C5A;
    padding: 40px;
    bottom: 0;
position: absolute;
width: 95%;
}


.footer-logos{
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    margin-left: 1px;
    width: 100%;
}
.linkedin-logo{
    margin-left: 1px;
}

.footer-copy{
    display: flex;
    justify-content: space-between;
}

.location-copy{
    margin-left: 1px;
    width: 100%;  
}

.connect-copy{
    margin-left: 1px;
    white-space: nowrap;
}


/* DEFINE Artifacts STYLES */
.card-a-container {
    background-color: #FFFFFF;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.card-a {
display: flex;
align-items: center;
margin-bottom: 25px; /*change to 60 if not dots*/
margin-left: 60px;
margin-right: 60px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

}
.alignimg{
    width: 100%;
}
.card-a-overview {
    display: flex;
    justify-content: center;
    margin-bottom: 25px; /*change to 60 if not dots*/
    margin-left: 60px;
    margin-right: 60px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-a-overview-left {
        width: 60%;
        /*padding: 5%;
        margin-left: 10px;*/
        padding: 5% 2.5% 5% 5%;

      }
      .card-a-overview-right {
        width: 40%;
       /* padding: 5%;
        margin-right: 10px;*/
        padding: 5% 5% 5% 2.5%;
      }
      .card-a-overview-noshadow {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        margin-left: 60px;
        margin-right: 60px;
          background-color: white;
        }
      
.card-a-imagealt {
    width:40%;
    height: auto;
    margin: auto;
    padding: 5%;
   /* border: none;
    background-size: cover;*/
}
.card-a-image {
    width:50%;
    height: auto;
    margin: auto;
   /* border: none;
    background-size: cover;*/
}
.card-image-center {
   max-width:100%;
}
.card-image-center1 {
    display: flex;
    justify-content: center;
    max-width:100%;
 }
.card-a-img img {
    max-width: 80%;
}

.card a:hover {
    text-decoration: none;
}

.card-a-copy {
    width: 48%; 
    padding: 5%;
   /* margin-left: 10px;
    padding: 0 20px 20px 20px;*/
}
.card-a-copy {
    width: 48%; 
    padding: 5%;
   /* margin-left: 10px;
    padding: 0 20px 20px 20px;*/
}
.card-no-image {
   width: 100%;
    padding: 5%;
}
.before-after-image{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5%;
   width: 100%;
}

.before-after-image-notopbottommargin{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2.5% 5% 2.5% 5%;
   width: 100%;
}

.sidebyside-image{
    display: flex;
    justify-content: left;
    text-align: left;
    max-width: 80%;
}
.sidebyside-imageleftmargin{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-left: 5%;
    max-width: 80%;
}
.sidebyside-imagerightmargin{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-right: 5%;
    max-width: 80%;
}
.Before-After_Text{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.Lofiwireframes{
    display: flex;
    flex-direction: column;
}
/* MEDIA QUERIES (Tell code how to resize */
@media screen and (max-width: 768px) {
    nav {
        margin-right: 0;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
    }

    .hero-container_img {
        min-width: 100%;
    }

    .hero-container_copy {
        min-width: 100%;
        margin: 20px;
        padding: 0;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 100%;
    }
    .footer{
        display: flex;
    }
    .footer-copy{
        flex-direction: column;

    }
    
   
    .card-a{
        max-width: 80%;
        flex-direction: column;
    }
    
    .card-no-image{
        display: flex;
        max-width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .alignimg{
        max-width: 100%;
    }
   
    .card-a-container{
        max-width: 85%;
        flex-direction: column;
    }
    .card-a-image{
        max-width: 80%;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {

    p {
        font-size: 14;
    }

    .nav-link{
        width: 20%;
    }

    .hero-container_img {
        width: 50%; 
    }

    .hero-container_copy{
width: 50%;
    }

    .card{
        width: 80%;
        max-width: 1293px;
    }

    .card img{
        width: 100%;
    }
    .footer-copy{
        flex-direction: column;

    }
     
   
    .card-a{
        max-width: 80%;
        flex-direction: column;
    }
    
    .card-no-image{
        display: flex;
        max-width: 80%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .alignimg{
        max-width: 100%;
    }
.card-a-container{
    max-width: 85%;
    flex-direction: column;
}
.card-a-image{
    max-width: 80%;
    flex-direction: column;
}
.card-no-image{
    max-width: 80%;
    flex-direction: column;
}
}